.footers {
  display: flex;
  gap: 50px;
  font-size: 20px;
  list-style: none;
  margin-left: 200px;
}
.footers h2 {
  font-size: 30px;
}
.footers p {
  color: gray;
  width: 350px;
}
.footers ul {
  list-style: none;
}
.footers ul a {
  text-decoration: none;
  color: gray;
}
.footers img {
  width: 300px;
  height: 300px;
}
.footers .tree ul {
  display: flex;
  gap: 10px;
}
.footers .two ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footers .four button {
  background-color: rgb(13, 13, 14);
  border-radius: 5px;
  width: 100px;
  height: 40px;
  color: white;
}

.p {
  margin-left: 500px;
  margin-top: 150px;
  margin-bottom: 150px;
  color: gray;
}